# Vyzobd API Configuration
NEXT_PUBLIC_API_URL=https://admin.vyzobd.com/api/storefront/v1
NEXT_PUBLIC_SITE_URL=https://vyzobd.com

# Analytics & Tracking Configuration
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GTM_ID=
